body{
  background-color: #29324e;;
  min-height: 80vh;
  color: #ffffff;
  font-family: Vazir;
}
header h1 {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 4rem;
}
.sliders{
  position: relative;
  max-width:1000px;
  margin: 3rem auto 0;
  
}
.slider{
  display: none;
}
.slider.active {
  display: block;
}
.numbertext {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  font-size: 12px;
  padding: 5px;
}
.text {
  position: absolute;
  bottom:20px;
  width: 100%;
  font-size: 15px;
  padding: 8px 12px;
  text-align: center;
}
 .next , .prev {
    color: #ffffff;
    font-size:25px;
    padding: 15px;
    transition: 0.6s ease;
    cursor: pointer;
    
 }
 .next:hover , .prev:hover {
  background-color: rgba(0,0,0,0.8);
  opacity: 0.9;
}
.next {
  position: absolute;
  left:0px;
  top:50%;
  border-radius: 0 3px 3px 0;
}
.prev {
  position: absolute;
  right:0px;
  top:50%;
  border-radius:3px 0  0 3px;
}
.dots {
  text-align: center;
  margin-top: 10px;
}
.dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot:hover {
  background-color: #717171;
}
.dot.active {
  background-color: #717171;
}